<!DOCTYPE html>
<html lang="pt-BR" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="any">
    <title>
        <%= titulo %>
    </title>
    <link href="/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <script type="module">
        // Quando a página for carregada, adiciona o evento de clique ao botão "Voltar"
        document.addEventListener('DOMContentLoaded', function () {
            // Seleciona o botão "Voltar" e o elemento de diálogo
            const botao_voltar = document.getElementById('voltar');
            const dialog = document.getElementById('dialog');

            // Quando o botão "Voltar" for clicado, mostra o diálogo
            botao_voltar.addEventListener('click', function (e) {
                e.preventDefault();
                dialog.show();
            });
        });

        const form = document.querySelector('form');

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const data = {
                id_cliente: Number(form.cliente.value.split("-")[0].trim()),
                id_cartao: Number(form.cartao.value.split("-")[0].trim())
            };

            fetch('/api/contratos', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
            }).then(async (res) => {
                if (res.status === 201) {
                    window.location.href = "/contratos";
                } else {
                    alert(await res.text());
                }
            });
        });

    </script>
</head>


<body class="h-full bg-gray-50 dark:bg-gray-900">

    <%- include('../partials/header') %>

        <main class="py-10 lg:pl-72">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="mx-auto max-w-3xl">
                    <h2 class="font-medium text-xl text-gray-500 dark:text-white">Cadastro de contrato</h2>

                    <form class="bg-white max-w-2xl rounded-lg shadow-xs outline outline-gray-900/5 sm:rounded-xl md:col-span-2 dark:bg-gray-800/50 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10 mt-6">
                        <!-- Form fields -->
                        <div class="px-4 py-6 sm:p-8">
                            <!-- Cliente -->
                            <div>
                                <label for="cliente" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Cliente</label>
                                <el-autocomplete class="relative mt-2 block">
                                    <input id="cliente" type="text" class="block w-full rounded-md bg-white py-1.5 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500" required />
                                    <button type="button" class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2">
                                        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-gray-400">
                                            <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                        </svg>
                                    </button>

                                    <el-options anchor="bottom end" popover class="max-h-60 w-(--input-width) overflow-auto rounded-md bg-white py-1 text-base shadow-lg outline outline-black/5 transition-discrete [--anchor-gap:--spacing(1)] data-leave:transition data-leave:duration-100 data-leave:ease-in data-closed:data-leave:opacity-0 sm:text-sm dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                                        <% for (const cliente of clientes) { %>
                                            <el-option value="<%= cliente.id_cliente %> - <%= cliente.nome %>" class="block truncate px-3 py-2 text-gray-900 select-none aria-selected:bg-indigo-600 aria-selected:text-white dark:text-gray-300 dark:aria-selected:bg-indigo-500">
                                                <%= cliente.id_cliente %> - <%= cliente.nome %>
                                            </el-option>
                                            <% } %>
                                    </el-options>
                                </el-autocomplete>
                            </div>

                            <!-- Cartão -->
                            <div>
                                <label for="cartao" class="block mt-8 text-sm/6 font-medium text-gray-900 dark:text-white">Cartão</label>
                                <el-autocomplete class="relative mt-2 block">
                                    <input id="cartao" type="text" class="block w-full rounded-md bg-white py-1.5 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500" required />
                                    <button type="button" class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2">
                                        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-gray-400">
                                            <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                        </svg>
                                    </button>

                                    <el-options anchor="bottom end" popover class="max-h-60 w-(--input-width) overflow-auto rounded-md bg-white py-1 text-base shadow-lg outline outline-black/5 transition-discrete [--anchor-gap:--spacing(1)] data-leave:transition data-leave:duration-100 data-leave:ease-in data-closed:data-leave:opacity-0 sm:text-sm dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                                        <% for (const cartao of cartoes) { %>
                                            <el-option value="<%= cartao.id_cartao %> - <%= cartao.nome %>" class="block truncate px-3 py-2 text-gray-900 select-none aria-selected:bg-indigo-600 aria-selected:text-white dark:text-gray-300 dark:aria-selected:bg-indigo-500">
                                                <%= cartao.id_cartao %> - <%= cartao.nome %>
                                            </el-option>
                                            <% } %>
                                    </el-options>
                                </el-autocomplete>
                            </div>
                        </div>

                        <!-- Action buttons -->
                        <div class="flex items-center justify-end gap-x-4 border-t border-gray-900/10 px-4 py-4 sm:px-8 dark:border-white/10">
                            <button type="reset" class="rounded-md text-sm/6 font-semibold text-gray-900 focus-visible:outline-2 focus-visible:outline-offset-6 dark:text-white">Resetar</button>
                            <a id="voltar" href="" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20 ">Voltar</a>
                            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Dialog -->
            <el-dialog>
                <dialog id="dialog" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
                    <el-dialog-backdrop class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in dark:bg-gray-900/50"></el-dialog-backdrop>

                    <div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
                        <el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg sm:p-6 data-closed:sm:translate-y-0 data-closed:sm:scale-95 dark:bg-gray-800 dark:outline dark:-outline-offset-1 dark:outline-white/10">
                            <div class=" px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                <div class="sm:flex sm:items-start">
                                    <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10 dark:bg-red-500/10">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-red-600 dark:text-red-400">
                                            <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                        <h3 id="dialog-title" class="text-base font-semibold text-gray-900 dark:text-white">Descartar cadastro?</h3>
                                        <div class="mt-2">
                                            <p class="text-sm text-gray-500 dark:text-gray-400">Se sair desta página, os dados digitados serão perdidos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                <a onclick="window.history.back()" command="close" commandfor="dialog" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto dark:bg-red-500 dark:shadow-none dark:hover:bg-red-400">Descartar</a>
                                <button type="button" command="close" commandfor="dialog" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring-1 inset-ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">Continuar o cadastro</button>
                            </div>
                        </el-dialog-panel>
                    </div>
                </dialog>
            </el-dialog>

        </main>

</body>

</html>